# created by virtualenv automatically
tmp/
drivers/
Scripts/
output/backups/*
output/*.txt
output/*.csv
Lib/
pages/buy/*
pages/sold/*
geckodriver*
.idea/
pyvenv.cfg
node_modules/
test-results/
playwright-report/

__pycache__