# created by virtualenv automatically
tmp/
drivers/
Scripts/
output/backups/*
output/*.txt
output/*.csv
Lib/
pages/buy/*.htm
pages/buy/*.html
pages/buy/processed/*
pages/sold/*
geckodriver*
.idea/
pyvenv.cfg

__pycache__
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
*.ods
*.ods#
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
latest.txt