# created by virtualenv automatically
tmp/
drivers/
Scripts/
output/backups/*
output/*.txt
output/*.csv
Lib/
pages/buy/*.htm
pages/buy/*.html
pages/buy/processed/*
pages/sold/*
geckodriver*
.idea/
pyvenv.cfg

__pycache__